<div class = "text-center container">
 <div class = "row">
<img src = "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-burgers-across-the-country-new-jersey-left-bank-burger-bar-1573665543.jpg">
 </div>
 <div class = "row">
  <h3>Eat-Da-Burger</h3>
 </div>
 <div class = "row buttonRow">
  <div class = "col-6-md">
    <div class = "row">
   <ul>
{{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoure=true}}<button class="eatBurger btn-dark" data-burgerid="{{this.id}}">Eat it!</button>
    {{/unless}}
  {{/each}}
</ul>
   </div>
  </div>
  <div class = "col-6-md">
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoure=false}}<button class="digestBurger btn-dark" data-burgerid="{{this.id}}">Digest it!</button>
    {{/if}}
  {{/each}}
</ul>
  </div>
 </div>
 <div class = "row submitRow">
  <form>
    <div class="form-group">
        <input type="text" class="form-control" id="burgerInput" aria-describedby="emailHelp">
    </div>
    <button type="submit" id = "submitBurger" class="generic btn-dark">Submit</button>
  </form>
 </div>
 <div>
     <p>Enter a burger you want to eat, then click the "Submit" button</p>
 </div>
</div>

