img {
    height: 225px;
    width: 250px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonRow {
    margin-left: 410px;
}

.submitRow {
    margin-left: 450px;
}