<li>
	{{this.burger_name}}
    
	{{!-- <button class="eatBurger btn-dark" data-burgerid="{{this.id}}" data-newDevoured="{{devoure}}">
		{{#if devoure}}Eat it!{{else}}Digest it!{{/if}}
	</button> --}}

	
</li>